<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Better AI</title>
</head>
<body>
    
    <!-- LOADER -->

    <div id="loader_wrapper">
        <h4>Better AI</h4>
        <div class="spinner">
        
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- NAVIGATION -->

    <nav class="nav">
        <div class="logo">
            <a href="">
                <img src="img/better_AI_logo_trans.png" alt="">
            </a>
        </div>
       <div class="links_nav">
           
                <div class="txt-outline">
                    <a href="#about">About</a>
                </div>
                <div class="txt-outline">
                    <a href="#calendar_writing">Results</a>
                </div>
                <div class="txt-outline">
                    <a href="#particles-js"> AI </a>
                </div>
           
       </div>

    <!-- BURGERMENU  -->

    <div class="menu btn13">
        <div class="icon">

        </div>
    </div>


    </nav>

    <!-- wrapper START -->

    <div class="wrapper">

        <!-- ABOUT -->

        <section id="about" class="about section">

            <div class="news">
                <h3  class="title_header animate-charcter"><span>How</span> does it work ? </h3>
                <div class="description">
                    <div class="appearable"><span >bet</span>ter AI is the first betting website <span>truly</span> <br> based on AI predictions .</div>
                    <div class="appearable">On a base of 10 upcoming matches and a regularly updated database provided by FootApi©</div>
                     <div class="appearable">the data goes through OpenAI© powerful engine and gives back the best odds possibles.</div>
                </div>
            </div>

        </section>

        <!-- //RESULTS -->
        <h1 id="calendar_writing"  class="calendar_writing">Calendar and live games</h1> 

        <section id="results" class="results section">
          
            <div id="live" class="liveMatchesContainer">
                <h1>Live Matches</h1>
                <div v-for="match in matches" :key="match.id" class="match">
                  <div class="teamLogo">
                    <img :src="match.homeTeam.image" alt="Home Team Logo" class="team-logo" />
                  </div>
                  <p>{{ match.homeTeam.name }} vs {{ match.awayTeam.name }}</p>
                  <div class="teamLogo">
                    <img :src="match.awayTeam.image" alt="Away Team Logo" class="team-logo" />
                  </div>
                  <p>{{ match.homeScore.current }} - {{ match.awayScore.current }}</p>
                  <p>Ligue: {{ match.tournament.name }}</p>
                </div>
              </div>
              
            
              
            <div id="schedules" class="liveMatchesContainer">
                <h1>Schedules</h1>
                <div v-for="match in matches" :key="match.id" class="match">
                  <div class="teamlogo">
                 
                  </div>
                  <div class="teamLogo">
                    <img :src="match.homeTeam.image" alt="Home Team Logo" class="team-logo" />
                  </div>
                  <p>{{ match.homeTeam.name }} vs {{ match.awayTeam.name }}</p>
                  <div class="teamLogo">
                    <img :src="match.awayTeam.image" alt="Away Team Logo" class="team-logo" />
                  </div>
                  <p>{{ match.homeScore.current }} - {{ match.awayScore.current }}</p>
                  <p>Ligue: {{ match.tournament.name }}</p>
                </div>
              </div>

              <div id="rankings" class="liveMatchesContainer">
                <h1>Rankings</h1>
                <div v-for="match in matches" :key="match.id" class="match">
                  <div class="teamlogo">
                 
                  </div>
                  <div class="teamLogo">
                    <img :src="match.homeTeam.image" alt="Home Team Logo" class="team-logo" />
                  </div>
                  <p>{{ match.homeTeam.name }} vs {{ match.awayTeam.name }}</p>
                  <div class="teamLogo">
                    <img :src="match.awayTeam.image" alt="Away Team Logo" class="team-logo" />
                  </div>
                  <p>{{ match.homeScore.current }} - {{ match.awayScore.current }}</p>
                  <p>Ligue: {{ match.tournament.name }}</p>
                </div>
            
              </div>

        </section>

        <!-- AI generator  -->

        <section id="particles-js" class="ai_generator">
            <div class="ai_window">
                <div class="football"><img class="football_img"  src="img/footballsvg.svg" alt=""></div>
                <h1>Ai generator</h1>
                <h6>Click on any of the matches to get the AI odds</h6>
                <div id="topmatches" class="ai_window_matches">
                  <!-- // loop vue  -->
                    <div v-for="match in matches" :key="match.id" class="match_ai">
                      <div class="logoteam">
                        <img :src="getLogoUrl(match.homeTeamId)" alt="Logo Squadra Casa">
                      </div>
                      <span>{{ match.homeTeamName }}</span> -
                      <span>{{ match.awayTeamName }}</span>
                      <div class="logoteam">
                        <img :src="getLogoUrl(match.awayTeamId)" alt="Logo Squadra Trasferta">
                      </div>
                    </div>
                    
                 </div>
            </div>
            <!-- overlay -->

            <div class="overlay"></div>

            <!-- end overlay -->

            <!-- modal window -->

            <div class="modalwindow">
              <div class="closebtn"><i class="fa-solid fa-xmark"></i></div>
              <div class="typewriter">
                <p class="word">Cristina Blasi è una famosa paperella dal piumaggio colorato e morbido </p>
              </div>
            </div>

            <!-- modal window -->

        </section>

        <!-- FOOTER STARTS -->
        <footer>
            <div class="link_list"></div>
            <div class="partners">
              <div class="logoOpenAI"><img src="img/open-ai-seeklogo.com.svg" alt=""></div>
              <div class="logoFootApi"><img src="" alt=""></div>
            </div>
        </footer>
        <!-- FOOTER END -->

    </div>
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/e7815bde46.js" crossorigin="anonymous"></script>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>   
   <script src="js/app.js"></script>
    <script src="js/api.js"></script>
</body>
</html>