
.btn13 {
    position: absolute;
    width: 60px;
    height: 60px;
    transition-duration: 0.5s;
    right:1em;
    top: 1em;
    @media screen and (min-width:768px){
        display: none;
    }
  }
  .btn13 .icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 30px;
    top: 30px;
    background-color: white;
    border-radius: 5px;
  }
  .btn13 .icon:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: white;
    content: "";
    top: -10px;
    border-radius: 5px;
  }
  .btn13 .icon:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: white;
    content: "";
    top: 10px;
    border-radius: 5px;
  }
  .btn13.open .icon {
    transition: 0.5s;
    background-color:#4AB5B9;
  }
  .btn13.open .icon:before {
    transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -3px);
    background-color:#4AB5B9;
  }
  .btn13.open .icon:after {
    transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 3px);
    background-color:#4AB5B9;
  }
  .btn13:hover {
    cursor: pointer;
  }