.about, .ai_generator{
    height: 100dvh;
    background-color: rgb(3,4,6);
    position: relative;
}

.calendar_writing{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 45px;
    text-align: center;
    margin: 0 auto;
     padding-top: 120px;
}

